header#main-header.transparent div.inner-col {
    width: auto;
    border: 0;
}

@media screen and (max-width:479px) {
    header#main-header.transparent div.inner-col {
        border-bottom: 1px solid rgba(255,255,255,0.05);
    }
}

footer#main-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 10px 10px;
    margin: 0;
}

footer#main-footer div.inner-col {
    width: auto;
}

footer#main-footer p,footer#main-footer .inner-col>ul a,footer#main-footer a.select strong {
    color: #b2cbe5;
}

footer#main-footer ul {
    left: 0;
}

@media screen and (max-width:479px) {
    footer#main-footer {
        position: relative;
    }
}

@media screen and (max-width:479px) {
    footer#main-footer div.inner-col {
        padding-top: 10px;
        border-top: 1px solid rgba(255,255,255,0.05);
    }

    footer#main-footer div.inner-col>ul {
        border-color: rgba(255,255,255,0.05) !important;
    }
}

header#main-header.transparent,footer#main-footer {
    -webkit-font-smoothing: antialiased;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    opacity: .5;
    -ms-filter: "alpha(opacity=50)";
    -webkit-filter: alpha(opacity=50);
    -moz-filter: alpha(opacity=50);
    -ms-filter: alpha(opacity=50);
    -o-filter: alpha(opacity=50);
    filter: alpha(opacity=50);
}

header#main-header.transparent.load-transition,footer#main-footer.load-transition {
    -webkit-transition-duration: 3000ms;
    -moz-transition-duration: 3000ms;
    -o-transition-duration: 3000ms;
    -ms-transition-duration: 3000ms;
    transition-duration: 3000ms;
}

header#main-header.transparent:hover,footer#main-footer:hover {
    opacity: 1 !important;
    -ms-filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}

html.js header#main-header.transparent,html.js footer#main-footer {
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    -webkit-filter: alpha(opacity=0);
    -moz-filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
}

html.js header#main-header.transparent.show,html.js footer#main-footer.show {
    opacity: .5;
    -ms-filter: "alpha(opacity=50)";
    -webkit-filter: alpha(opacity=50);
    -moz-filter: alpha(opacity=50);
    -ms-filter: alpha(opacity=50);
    -o-filter: alpha(opacity=50);
    filter: alpha(opacity=50);
}

@media screen and (max-width:479px) {
    html.js header#main-header.transparent.show,html.js footer#main-footer.show {
        opacity: 1 !important;
        -ms-filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
    }
}

html#bitcoin {
    background: #234284;
    min-height: 100%;
    color: #fff;
}

html#bitcoin body {
    min-height: 100%;
    background: 0;
}

@media screen and (max-width:479px) {
    html#bitcoin {
/*        background: -webkit-linear-gradient(113deg,#585d61,#234284);
*/        -webkit-background-size: repeat,100% 100%;
        -moz-background-size: repeat,100% 100%;
        background-size: repeat,100% 100%;
        background-attachment: scroll,fixed;
    }
}

div#main {
    min-height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
/*    background: -webkit-linear-gradient(113deg,#585d61,#234284);
    background: -moz-linear-gradient(113deg,#585d61,#234284);
    background: -o-linear-gradient(113deg,#585d61,#234284);
    background: -ms-linear-gradient(113deg,#585d61,#234284);
    background: linear-gradient(-23deg,#585d61,#234284);*/
    -webkit-background-size: repeat,100% 100%;
    -moz-background-size: repeat,100% 100%;
    background-size: repeat,100% 100%;
    background-attachment: scroll,fixed;
}

@media screen and (max-width:479px) {
    div#main {
        position: relative;
        height: 100%;
        background: 0;
    }
}

main {
    position: absolute;
    width: 900px;
    height: 384px;
    left: 50%;
    top: 50%;
    margin-top: -300px;
    margin-left: -450px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width:479px) {
    main {
        position: relative;
        left: auto;
        top: auto;
        margin: 0;
        width: auto;
        height: auto;
        padding: 30px 0;
    }
}

@-moz-keyframes wipe {
    0 {
        opacity: 0;
        -ms-filter: "alpha(opacity=0)";
        -webkit-filter: alpha(opacity=0);
        -moz-filter: alpha(opacity=0);
        -ms-filter: alpha(opacity=0);
        -o-filter: alpha(opacity=0);
        filter: alpha(opacity=0);
    }

    100% {
        opacity: 1;
        -ms-filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
    }
}

@-webkit-keyframes wipe {
    0 {
        opacity: 1;
        -ms-filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
        -webkit-mask-position: 0 -160px;
    }

    100% {
        opacity: 1;
        -ms-filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
        -webkit-mask-position: 0 -400px;
    }
}

div#bitcoin-logo {
    position: relative;
    width: 214px;
    height: 220px;
    display: block;
    margin: -100px auto 0;
}

@media screen and (max-width:479px) {
    div#bitcoin-logo {
        margin-bottom: 20px;
    }
}

div#bitcoin-logo:after {
    content: '';
    width: 174px;
    height: 181px;
    position: absolute;
    top: 20px;
    left: 18px;
    display: block;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    -webkit-filter: alpha(opacity=0);
    -moz-filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    background-image: url("../img/bitcoin/fill.png");
    -webkit-mask-position: 0 0;
    -webkit-mask-size: 600px 600px;
    -webkit-mask-image: -webkit-linear-gradient(45deg,#000,#000 220px,rgba(0,0,0,0) 223px,rgba(0,0,0,0));
}

@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx) {
    div#bitcoin-logo:after {
        background-image: url("../img/bitcoin/fill@2x.png");
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        background-size: 100% 100%;
    }
}

div#bitcoin-logo.show:after {
    -webkit-animation: wipe 700ms;
    -moz-animation: wipe 700ms;
    -o-animation: wipe 700ms;
    -ms-animation: wipe 700ms;
    animation: wipe 700ms;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

section {
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    -webkit-filter: alpha(opacity=0);
    -moz-filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: opacity 3000ms ease;
    -moz-transition: opacity 3000ms ease;
    -o-transition: opacity 3000ms ease;
    -ms-transition: opacity 3000ms ease;
    transition: opacity 3000ms ease;
    -webkit-transition-delay: 400ms;
    -moz-transition-delay: 400ms;
    -o-transition-delay: 400ms;
    -ms-transition-delay: 400ms;
    transition-delay: 400ms;
}

section.show {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}

h1 {
    font-size: 2.4em !important;
    color: #fff;
    font-weight: 400;
    margin-bottom: .3em;
}

@media screen and (max-width:479px) {
    h1 {
        font-size: 1.6em !important;
        margin-top: 0;
    }
}

h1+p {
    font-weight: 400;
    font-size: 1.8em !important;
    line-height: 1.45em;
    color: #aac0dd;
}

h1+p a {
    color: #aac0dd;
    text-decoration: underline;
}

h1+p a:hover {
    color: #fff;
}

@media screen and (max-width:479px) {
    h1+p {
        font-size: 1.1em !important;
    }
}

form {
    -webkit-font-smoothing: antialiased;
    font-size: 1.5em;
    margin-bottom: 20px;
}

@media screen and (max-width:479px) {
    form {
        font-size: 1.1em;
    }
}

select option {
    background: rgba(0,0,0,0.3);
}

form input, form button.button, form select {
    height: 39px;
    padding: 6px;
    margin: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

form input, form select {
    display: inline-block;
    vertical-align: middle;
    background: 0;
    border: 1px solid rgba(255,255,255,0.4);
    -webkit-transition: border-color 300ms ease;
    -moz-transition: border-color 300ms ease;
    -o-transition: border-color 300ms ease;
    -ms-transition: border-color 300ms ease;
    transition: border-color 300ms ease;
    width: 350px;
    color: #fff;
    font-family: 'Droid Sans Mono';
    -webkit-appearance: none;
}

form select {
    width: 200px;
}

form input:focus, form select:focus {
    border-color: #fff;
    outline: 0;
}

form input::-webkit-input-placeholder, form select::-webkit-input-placeholder {
    font-weight: 300;
    color: #aac0dd;
}

form input::-moz-placeholder, form select::-moz-placeholder {
    font-weight: 300;
    color: #aac0dd;
}

form input:-moz-placeholder, form select:-moz-placeholder {
    font-weight: 300;
    color: #aac0dd;
}

form input:-ms-input-placeholder, form select:-ms-input-placeholder {
    font-weight: 300;
    color: #aac0dd;
}

form button.button {
    width: 97px;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    height: 39px;
    color: #558dc6;
    font-weight: 500;
    background-color: #fff;
    background-image: -webkit-linear-gradient(rgba(93,182,232,0.2),rgba(22,142,218,0.2),rgba(22,142,218,0.2) 90%,rgba(29,147,221,0.2));
    background-image: -moz-linear-gradient(rgba(93,182,232,0.2),rgba(22,142,218,0.2),rgba(22,142,218,0.2) 90%,rgba(29,147,221,0.2));
    background-image: -o-linear-gradient(rgba(93,182,232,0.2),rgba(22,142,218,0.2),rgba(22,142,218,0.2) 90%,rgba(29,147,221,0.2));
    background-image: -ms-linear-gradient(rgba(93,182,232,0.2),rgba(22,142,218,0.2),rgba(22,142,218,0.2) 90%,rgba(29,147,221,0.2));
    background-image: linear-gradient(rgba(93,182,232,0.2),rgba(22,142,218,0.2),rgba(22,142,218,0.2) 90%,rgba(29,147,221,0.2));
}

.small {
    font-size: small;
}

.small a:hover {
    color: #eee;
}

.small_button {
    width: 50px !important;
}

.time {
    width: 150px !important;
}

.value {
    width: 80px !important;
}

form button.button:active {
    background-color: #a8cadd;
    color: #29629a;
}

.predecessors, .successors, .cluster {
    width: 16px;
    height: 16px;
}

.white {
    color: white;
}

.api a {
    font-size: 100%;
    color: white;
    border-radius: 1em;
    border: 1px solid;
    padding: 5px;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-color: white;
    background-color: transparent;
}

.rounded {
    border-radius: 1em;
    border: 1px solid;
    padding: 5px;
    margin: 10px;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-color: white;
    background-color: transparent;
}